<% include ../partial/header.ejs%>



<div class="container">
<div class="jumbotron">
  <div class="container">
  <h1>Welcome to YelpCamp</h1>
  <p>View campgrounds from all over the world!</p>
  <p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Home Page</a>
      <a class="btn btn-primary btn-lg" href="/campground/new" role="button">Add New</a>
      </p>
       
      </div>
  
  </p>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<%for(var i=0;i<arr.length;i++){%>

            <div class="col-md-3 col-sm-6">
                
           <div class="thumbnail">
           <img src="<%=arr[i].image%>">
           </div>
           <div class="caption">
          <h4><%=arr[i].name%></h4> 
               </div>
               <p><a href="/campground/<%=arr[i]._id%>" class ="btn btn-primary">More Info</a></p>
           </div>
        
    <%}%>
    </div>
</div>
<% include ../partial/footer.ejs %>